@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #141414;
  font-family: "PP Neue Montreal", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
}

.main {
  height: 200vh;
}
